contracts/billing-service/src/main/resources/com/redhat/services/billing/xsd/billing.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="call-details">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="call" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="duration" use="optional"/>
                <xs:attribute type="xs:string" name="from" use="optional"/>
                <xs:attribute type="xs:string" name="fromCountry" use="optional"/>
                <xs:attribute type="xs:string" name="to" use="optional"/>
                <xs:attribute type="xs:string" name="toCountry" use="optional"/>
                <xs:attribute type="xs:string" name="type" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>